@font-face {
    src: url(../fonts/Campton-Medium/Campton-Medium.eot);
    font-family: campton;
}

html {
    height: 100%;
}

body {
    min-width: 630px;
    height: 100%;
    min-height: 100%;
    background: white;
    font-family: campton;
    font-style: normal;
    font-weight: normal;
}

#wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
}

#sidebar {
    flex: 0 0 232px;
    height: 100%;
}

#content {
    flex-grow: 1;
    height: 100%;
}

#contentArea {
    background: #ececec;
    min-height: 100%;
    padding-bottom: 20px;
    flex-grow: 1;
}

#actualContent {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    background: white;
    flex-grow: 1;
    z-index: 1;
}

#overlayContent {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background: #ececec;
    opacity: 0.5;
    width: auto;
    z-index: 8;
    position: absolute;
    display: none;
    top: 96px;
}

#createContent {
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    background: white;
    width: auto;
    z-index: 10;
    position: absolute;
    display: none;
    top: 96px;
}

#sideNavigation {
    margin-top: 50px;
}

#sidebar ul li {
    width: 232px;
}

.sidebar-icon-span {
    width: 58px;
    min-width: 58px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
}

.sidebar-text-area {
    width: 116px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#sidebar ul li a {
    text-align: left;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}

#sidebar.active .dropdown-toggle::after {
    top: auto;
    bottom: 10px;
    right: 50%;
    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);
}

#sidebar ul li:first-child {
    border-top: 1px solid #ececec;
}

#sidebar ul li {
    border-bottom: 1px solid #ececec;
}


#sidebar ul li ul li:first-child {
    border-top: none;
}

#sidebar ul li ul li:last-child {
    border-bottom: none;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #808080;
}

#sidebar ul li a:hover {
    color: #40b08e;
    background: #fff;
    text-decoration: none !important;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #40b08e;
    background: #ececec;
}

a[data-toggle="collapse"] {
    position: relative;
}

#topNavigation {
    padding: 25px;
}

#topNavigation ul li a {
    color: #878787;
}

#actualContent table tr td:first-child {
    padding-left: 20px;
}

#actualContent table tr th:first-child {
    padding-left: 20px;
}

.list-inline-item + .list-inline-item {
    padding-left: 10px;
    border-left: 1px solid currentColor;
}

.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: #fbfbfb;
}

.table-striped > tbody > tr > td {
    color: #808080;
}

.anotherHover tbody tr:hover td {
    background: #ececec;
}

.btn-sannsyn {
    background: #40b08e;
    color: white;
}

.sannsyn-green {
    color: #40b08e;
}

.menu-text-padding {
    padding-left: 45px;
}

.menu-parent-a-border {
    border-bottom: 1px solid #ececec;
}

.option-style {
    font-family: 'Open Sans', serif;
    font-size: 14px;
    color: #808080;
    border-radius: 3px;
    background: #f2f2f2;
}

table {
    font-family: 'Open Sans', serif;
}

.tag {
    color: #1c7430;
}
